<div class="container">
  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
    </tr>
  </table>
  <br>
  <div id="winner"></div>
  <br>
  <button id="restart" type="button">Start New Game</button>
</div>

<script src="/js/application.js"></script>
